@model PI08_aplikacija.Models.Hrana_Životinja

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hrana_Životinja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hrana.Vrsta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hrana.Vrsta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Životinja.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Životinja.Ime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
