@model PI08_aplikacija.Models.Rad_za_drugoga

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rad_za_drugoga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.datum_vrijeme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datum_vrijeme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zarada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zarada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trajanje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trajanje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stroj.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stroj.Ime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
