<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
</head>
<body>
        <br />
        <br />
        <br />
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Početna", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="container">
                    <div class="navbar-collapse collapse">
                        <div class="dropdown" style="padding:10px;">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Izbornik
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">@Html.ActionLink("Farma", "Index", "Farmas")</a></li>
                                <li><a href="#">@Html.ActionLink("Biljke", "Index", "Biljkes")</li>
                                <li><a href="#">@Html.ActionLink("Hrana", "Index", "Hranas")</a></li>
                                <li><a href="#">@Html.ActionLink("Kupnja", "Index", "Kupnjas")</a></li>
                                <li><a href="#">@Html.ActionLink("Mlijekomat", "Index", "Mlijekomats")</a></li>
                                <li><a href="#">@Html.ActionLink("Prod-biljke", "Index", "Prod_biljke")</a></li>
                                <li><a href="#">@Html.ActionLink("Hrana-Životinja", "Index", "Hrana_Životinja")</a></li>
                                <li><a href="#">@Html.ActionLink("Prodaja-Životinje", "Index", "Prodaja_Životinje")</a></li>
                                <li><a href="#">@Html.ActionLink("Prodaja", "Index", "Prodajas")</a></li>
                                <li><a href="#">@Html.ActionLink("Radnja", "Index", "Radnjas")</a></li>
                                <li><a href="#">@Html.ActionLink("Rad za drugoga", "Index", "Rad_za_drugoga")</a></li>
                                <li><a href="#">@Html.ActionLink("Stroj", "Index", "Strojs")</a></li>
                                <li><a href="#">@Html.ActionLink("Stroj", "Index", "Strojs")</a></li>
                                <li><a href="#">@Html.ActionLink("Zemljište", "Index", "Zemljište")</a></li>
                                <li><a href="#">@Html.ActionLink("Životinja", "Index", "Životinja")</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - PI08 aplikacija</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
